<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/{{style}}">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <a href="/login">Login</a> <br>
    <a href="/register">Register</a> <br>
    <a href="/">Products View</a> <br>
    <a href="/realtimeproducts">Real Time products</a><br>
    <a href="/cart">Cart</a><br>
    <a href="/chat">Chat</a><br>

{{{ body }}}
</body>

</html>